/* @group Reset */

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */

html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}


/* @end */

/* @group Clear Fix */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* @end */



/* @group fonts */

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-hai-webfont.eot');
    src: url('fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hai-webfont.woff') format('woff'),
         url('fonts/lato-hai-webfont.ttf') format('truetype'),
         url('fonts/lato-hai-webfont.svg#latohairline') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-lig-webfont.eot');
    src: url('fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lig-webfont.woff') format('woff'),
         url('fonts/lato-lig-webfont.ttf') format('truetype'),
         url('fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-reg-webfont.woff') format('woff'),
         url('fonts/lato-reg-webfont.ttf') format('truetype'),
         url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bol-webfont.eot');
    src: url('fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bol-webfont.woff') format('woff'),
         url('fonts/lato-bol-webfont.ttf') format('truetype'),
         url('fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bla-webfont.eot');
    src: url('fonts/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bla-webfont.woff') format('woff'),
         url('fonts/lato-bla-webfont.ttf') format('truetype'),
         url('fonts/lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;

}

code, pre {
	font-family: "Courier New", Courier, mono;
}

/* @end */

/* @group Main */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body{
 	-webkit-font-smoothing: antialiased;
	/*background-color: #819299;*/
	font: 1.0em 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	color: #fff;
	background-color: #3e97ff;
}

#wrapper{
	
}

/* @end */

/* @group Header */

#header{
	height: 80px;
	background-color: rgba(0,0,0,0.5);
}

#header .header-logo{
	display: block;
	position: relative;
	overflow: hidden;
	height: 80px;
	line-height: 80px;
	color: #fff;
	font-weight: 300;
	font-size: 2.2em;
	float: left;
}

#header .header-logo img{
	float: left;
	margin-right: 10px;
	display: block;
	position: relative;
	height: 50px;
	line-height: 50px;
	top: 15px;
}

ul#menu{
	list-style-type: none;
	display: block;
	height: 80px;
	line-height: 80px;
	float: right;
}

ul#menu li{
	float: left;
	margin-right: 15px;
	color: #fff;
}

ul#menu li a{
	opacity: 0.7;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 1.1em;
	text-transform: lowercase;
}

ul#menu li a:hover{
	opacity: 1;
}

/* @end */

/* @group Footer */

#footer{
	height: 50px;
	display: block;
	position: relative;
	background-color: rgba(88,96,102,0.3);
	line-height: 50px;
	text-align: right;
}

#footer a{
	color: #fff;
}

/* @end */

/* @group Content */

#content{
}

#content section{
	padding-top: 30px;
	padding-bottom: 30px;
}

section h1.section-title{
	color: #fff;
	font-size: 2.0em;
	font-weight: 500;	
}

/* @end */

/* @group Hero */

section.hero{
	display: block;
	position: relative;
	text-align: center;
	background-color: rgba(68,76,83,0.3);
	
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

section.hero h1{
	color: #fff;
	font-weight: 300;
	font-size: 2.5em;
}

/* @end */

/* @group Image */

section.image{
	color: #fff;
	margin-top: 20px;
	margin-bottom: 14px;
}

section.image h2{
	color: #fff;
	font-size: 2.0em;
	margin-bottom: 20px;
	font-weight: 500;
}

section.image div.image-section-text{
	font-weight: 400;
	line-height: 25px;
}

section.image div.image-section-text p{
	margin-bottom: 10px;
}

section.image div.image-holder{
	display: block;
	position: relative;
}

section.image img{
	display: inline-block;
	position: relative;
	float: right;
	width: 100%;
}

section.image img.komanda-logo{

}

/* @end */

/* @group Features */

section.features{
	background-color: rgba(33,44,47,0.5);
}

section.features div.feature{
	margin-top: 40px;
	margin-bottom: 35px;
}

section.features div.feature .inside{
	margin-bottom: 20px;
}

section.features div.feature .inside .title{
	font-size: 3.0em;
	text-align: center;
}

section.features div.feature .inside .title div.title-name{
	font-size: 0.6em;
	margin-top: 30px;
}

section.features div.feature .inside .feature-text{
	line-height: 25px;
	font-weight: 300;
	margin-top: 20px;
}

section.features div.feature .inside .title .icon-holder{
	width: 100px;
	height: 100px;
	background-color: transparent;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
	color: #fff;
	margin: auto;
	border: 3px solid #fff;
}

section.features div.feature .inside .title .icon-holder i{
	line-height: 110px;
}

section.features div.feature .inside .title .icon-holder i.fa{
	line-height: 98px;	
}

/* @end */

/* @group Screenshots */

section.screenshots{
	background-color: rgba(82,82,82,0.3);
}

/* @end */

/* @group Button */

button.download{
outline: none;

background-color: #447bc4;
background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%), linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
border-radius: 6px;
box-shadow: 0 0 0 1px #447bc4 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #447bc4, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);

color: white;
display: block;
font-family: "Lucida Grande", Arial, sans-serif;
font-size: 22px;
font-weight: bold;
height: 61px;
letter-spacing: -1px;
line-height: 61px;
margin: 28px 0 10px;
position: relative;
text-align: center;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
text-decoration: none !important;
transition: all .2s linear;
	border-style: none;
	padding-left: 22px;
	padding-right: 25px;
}

button.download i{
	margin-right: 10px;
}

.test{
	color: #4e8ce1;
}


button.download:hover {
    background-color: #4e8ce1;
    box-shadow: 0 0 0 1px #4e8ce1 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #4e8ce1, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    margin-top: 26px;
    margin-bottom: 12px; }
    
    
button.download:active {
    box-shadow: 0 0 0 1px #4e8ce1 inset, 0 0px 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    margin-top: 35px;
    margin-bottom: 3px; }
    
button.download:before {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    padding-bottom: 8px;
    border-radius: 5px;
    position: absolute; }
    
button.download:hover:before {
    top: 3px; }
    
button.download:active:before {
    top: -7px; }

/* @end */